#loginform{
    background-color: green;
    border: 2px solid black;
    color: white;
    padding: 5px;
    margin: 5px;
    width: 300px;
    float: left
}

input{
    float: left;
    clear: left;
    display: block;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;

}
#registerbutton{
    float: left;
    clear: left;
    margin: 3px;
    border: 1px solid red;
    width: 75px;
    height: 25px;
    background-color: green;

}

#registerForm{
    float: left;
    width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: green;
    border: 2px solid black;
}

label{
    float: left;
    size: 12px;
}